- comment_branch.where(parent_id: parent_id).each do |comment|
  = render 'shared/comment', comment: comment, show_reply_link: true
  = render 'comment_branch', comment_branch: comment_branch, parent_id: comment.id
