@each $size in 5, 10, 20, 50 {
  .mb#{$size} {
    margin-bottom: #{$size}px
  }
  .mt#{$size} {
    margin-top: #{$size}px
  }
  .ml#{$size} {
    margin-left: #{$size}px
  }
  .mr#{$size} {
    margin-right: #{$size}px
  }
}
